@using HairSalon.Models

<h1>Big Dreams, Big Hair Salon</h1>
<h3>@Model["Restaurant"].CountryName</h3>

<p>Type: @Model["Restaurant"].Name</p>
<p>Name: @Model["Restaurant"].Address</p>
<p>Sex: @Model["Restaurant"].PhoneNumber</p>

<ol>
@foreach (Animal animal in @Model["animal"])
{
  <li><a href="/animals/@Model["animal"].CountryCode/cities/@city.CityId">@city.CityName</a></li>
}
</ol>
